
  <nav class="navbar">

    <div class="logo-title">
      <a href="/">
        <img src="/images/germbox-logo.png" alt="GERMBox Logo" class="logo" loading="lazy"/></a>
    </div>
    
    <div class="nav-mobile">
    <button id="menu-toggle" aria-label="Toggle Menu"></button>
    </div>

    <div class="nav-links" id="nav-menu">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/pages/portfolio.html">Portfolio</a></li>
        <li><a href="/pages/support.html">Support</a></li>
        <li><a href="/pages/login.html">Login</a></li>
        <li><a href="/pages/signup.html">Sign Up</a></li>
        <li><button id="quickInvestBtnHeader" class="btn-ghost">Quick Invest</button></li>
      </ul>
    </div>
  </nav>